@page "/qlkho/home"

@attribute [Authorize]
@inject QLKHOContext db
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider authStateProvider
@inject NotificationService notificationService

<AuthorizeView>
    <Authorized Context="auth">
        <h3>Trang chủ</h3>
        <p>Xin chào, @auth.User.Identity?.Name!</p>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        @* var state = await authStateProvider.GetAuthenticationStateAsync();
        if (!(state.User?.Identity?.IsAuthenticated ?? false))
        {
            UriHelper.NavigateTo("/qlkho/login");
        } *@

    }

    protected void navigateMenu(string Path)
    {

        UriHelper.NavigateTo(Path);
    }
}

